*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* color palette */
:root {
	--color-bg-hero: #b8d1e5;
	--color-bg-footer: #000000;
	--color-bg-main: #ffffff;
	--color-box-8: #ffd830;
	--color-box-7: #0d2481;
	--color-box-6: #ff1c1c;
	--color-box-5: #0093ce;
	--color-box-4: #b4d0e7;
	--color-box-3: #d5001f;
	--color-box-2: #61082b;
	--color-box-1: #a2d39b;
	--color-bg-bottom: #0061ff;
	--color-box-big: #f5f5f5;
    --color-main-text: #000000;
    --color-secondary-text: #ffffff;
}

/* utility */

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.padding-lr{
    padding: 0 10px;
}

.align-items{
    align-items: center;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

/* header */
nav ul li{
    padding: 0 10px;
}
h1{
    padding: 10px;
}
nav a{
    color: var(--color-main-text);
}
nav{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-bg-main);
}
.hero{
    background-color: var(--color-bg-hero);
    padding-top: 51px;
}